<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/calender.css">
    <script type="javascript" src="/scripts/calender_chart.js"></script>
    <title>Fitsiah</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <!-- 자바스크립트 -->
    <script src="/scripts/calender_script.js" defer></script>
</head>
<body>
    <!--팝업창-->
    <div id="overlay"></div>
    <div id="popup" style="display: none;">
        <div id="popupWrap">
            <header>
                <h3>수정하기</h3>
                <input type="button" id="closePopup" value="X">
            </header>
            <img src="/images/calander/happy.png" id="emotion">
            <div id="select">
                <img src="/images/calander/happy.png" id="happy">
                <img src="/images/calander/sad.png" id="sad">
                <img src="/images/calander/calm.png" id="calm">
                <img src="/images/calander/depressed.png" id="depressed">
                <img src="/images/calander/bad.png" id="bad">
            </div>
            <input type="text" id="changeText" value="<%= todayComment %>" class="todayComment">
            <input type="submit" id="changeSub">
        </div>
    </div>

    <!-- 네비게이션 -->
    <nav>
        <img src="/images/nav/LOGO.png">
        <ul class="nav-menu">
            <li><a href="/exercise">운동하기</a></li>
            <li><a href="/recommend">운동추천</a></li>
            <li><a href="/diary">다이어리</a></li>
        </ul>
        <a href="/mypage"><img src="/images/nav/Mypage.png"></a>
    </nav>

    <main>
        <div class="first_section">
            <!-- 캘린더 -->
            <div class="box-set first_box">
                <header>
                    <p class="current-date"></p>
                    <div class="icons">
                        <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        <span id="next" class="material-symbols-rounded">chevron_right</span>
                    </div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li>Sun</li>
                        <li>Mon</li>
                        <li>Tue</li>
                        <li>Wed</li>
                        <li>Thu</li>
                        <li>Fri</li>
                        <li>Sat</li>
                    </ul>
                    <ul class="days"></ul>
                </div>
            </div>

            <!-- 오늘의 기록 -->
            <div class="second_box box-set">
                <div class="d-first">
                    <header>
                        <p>오늘의 기록</p>
                        <div class="icons">
                            <span id="next" class="material-symbols-rounded">chevron_right</span>
                        </div>
                    </header>
                    <div class="emotion_record">
                        <img id="change_emotion" src="/images/calander/짱이야.png">
                        <p>오늘 기분 최고!<br>나는 오늘 짱이야!</p>
                    </div>
                    <div class="memo">
                        <h3><%= todayComment %></h3>
                    </div>
                </div>
                <div class="d-second">
                    <header>
                        <div class="icons">
                            <span id="prev" class="material-symbols-rounded">chevron_left</span>
                        </div>
                        <p>짜잔</p>
                    </header>
                </div>
            </div>
        </div>

        <!-- 구분선 -->
        <hr class="divider">

        <!-- 구분선 아래 부분 -->
        <div class="second_section">
            <!-- 세 번째 + 네 번째 박스 -->
            <div class="third_fourth_box">
                <!-- 나의 운동 요약 -->
                <div class="third_box box-set">
                    <header>
                        <div style="display: flex;">
                            <span id="exercise-date"></span>
                            <p><span class="white-text"><%= date %>  나의 </span><span class="yellow-text">운동 요약</span></p>
                        </div>
                        <div class="icons">
                            <span id="next" class="material-symbols-rounded">chevron_right</span>
                        </div>
                    </header>
                    <main>
                        <% let totalCount = 0; %>
                        <% let totalWeight = 0; %>
                        <% data.forEach(function(exercise) { %>
                            <% totalCount += exercise.count; %>
                            <% totalWeight += exercise.weight * exercise.count * exercise.set; %>
                        <% }); %>
                        <%  %>
                        <div class="third_image">
                            <img src="/images/calander/timer 1.png">
                            <p><%= timer %><br><span class="explain">시간</span></p>
                        </div>
                        <div class="third_image">
                            <img src="/images/calander/dumbbell 1.png">
                            <p style="margin-top: 32px;"><%= totalCount %>회<br><span class="explain">운동 개수</span></p>
                        </div>
                        <div class="third_image">
                            <img src="/images/calander/exercise 1.png">
                            <p><%= totalWeight %>kg<br><span class="explain">전체 볼륨</span></p>
                        </div>
                    </main>
                </div>

                <!-- 나의 소모 칼로리 -->
                <div class="fourth_box box-set">
                    <header>
                        <p><span class="white-text">나의 </span><span class="yellow-text">소모 칼로리</span> </p>
                        <div class="icons">
                            <span id="next" class="material-symbols-rounded">chevron_right</span>
                        </div>
                    </header>
                    <main>
                        <div class="potatochip">
                            <img src="/images/calander/potato 1.png">
                        </div>
                        <div class="calorie">
                            <header>
                                <img src="/images/calander/flame 1.png">
                                <div>
                                    <span>1212 kcal</span>
                                </div>
                            </header>
                            <div class="N_record">
                                <p>오늘은 <span class="yellow-text"> 감자칩 N 개 </span>만큼 <br>불태우셨어요!</p>
                            </div>
                        </div>
                    </main>
                </div>
            </div>

            <!-- 부위별 운동 분석 -->
            <div class="fifth_box box-set">
                <header>
                    <p>부위별 운동 분석</p>
                </header>
                <div class="analyze_text">
                    <p>제일 많이 수행한 부위는 <span class="yellow-text">등</span>이며,<br> 총 <span class="yellow-text">"12번"</span>
                        수행하셨습니다!</p>
                </div>
                <div class="chart">
                    <canvas id="doughnut" width="300" height="300"></canvas>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>
                <script src="chart.js"></script>
                
                <!-- <img class="graph_text" src="image/Graph Text.png"> -->
            </div>
        </div>
    </main>

</body>

</html>